# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# VS Code
.vscode/

# Chroma Database
chroma_db/

# Logs
*.log

# Local SQLite Database
documind.db
documind.db-journal

# Uploaded manual PDF files
uploads/

# Archive files
*.zip